.Navibar {
  min-height: 60px;
  display: flex;
  background-color: black;
  opacity: 0.7;
  justify-content: space-between;
}

.EimskyBrand {
  font-size: 25px;
}

.NavLinks {
  font-size: 15px;
  margin: auto;
}
