.Navibar {
  min-height: 60px;
  display: flex;
  background-color: black;
  opacity: 0.8;
  justify-content: space-between;
}

.EimskyBrand {
  font-size: 25px;
}

.NavLinks {
  font-size: 15px;
  margin: auto;
}

.navUserName #username {
  font-size: 15px;
}
.navUserName {
  font-size: 15px;
  opacity: 1;
}
.navdropitem {
  font-size: 12px !important;
  font-weight: bold !important;
  opacity: 1 !important;
}
