.cartScreen {
  margin-top: 50px;
}
.loginScreen {
  margin-top: 50px;
}
.adminDashboard {
  margin-top: 50px;
}
.oneProductScreen {
  margin-top: 50px;
}
.NotPaidOrderListScreen {
  margin-top: 40px;
}
.NotDeliveredOrderListScreen {
  margin-top: 50px;
}
.orderListScreen {
  margin-top: 50px;
}
.orderScreenLoader {
  margin-top: 50px;
}
.orderScreenMessage {
  margin-top: 50px;
}
.orderScreenH1 {
  margin-top: 50px;
}
.productEditScreen {
  margin-top: 50px;
}
.productListScreen {
  margin-top: 50px;
}
.profileScreen {
  margin-top: 50px;
}
.registerScreen {
  margin-top: 50px;
}
.userEditScreen {
  margin-top: 50px;
}
.userListScreen {
  margin-top: 50px;
}
.productScreen {
  margin-top: 70px;
}
.ResetPasswordScreen {
  margin-top: 70px !important;
}
.empAddExperience {
  margin-top: 50px !important;
}
.empDashboard {
  margin-top: 50px !important;
}
.empProfileScreen {
  margin-top: 70px !important;
}
.adminMailboxToClients {
  margin-top: 70px !important;
}
.updateCredentialsScreen {
  margin-top: 70px !important;
}

.btnback {
  border: none;
  outline: none;
  height: 40px;
  width: 150px;
  background-color: black;
  color: white;
  border-radius: 40px 0px 0px 40px;
  font-size: 13px;
}
.btnback:hover {
  background-color: white;
  border: 1px solid;
  color: black;
}

.thead {
  color: rgb(255, 255, 255);
  background-color: #001a0f;
  text-align: center;
}

.trow {
  background-color: #ccffcc;
}

.isWho {
  text-align: center;
}

.editOrDelete {
  text-align: center;
}
.notPaid {
  text-align: center;
}
.isPaid {
  text-align: center;
}
.notDelivered {
  text-align: center;
}
.isDelivered {
  text-align: center;
}
.details {
  text-align: center;
}

.mailIcon {
  align-items: right;
}
.mailIcon:hover {
  cursor: pointer;
  color: green;
}

.mailImage {
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

.dataRow {
  width: 500px;
}
.dataBody {
  border-color: rgb(0, 72, 14);
  border-radius: 10px;
}

.mainRow {
  margin-top: 90px;
  background-color: rgb(238, 238, 238);
  border-radius: 30px;
  box-shadow: 12px 12px 12px gray;
  height: auto;
  padding-bottom: 30px;
}

.btnSendmail {
  float: right;
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}
.btnSendmail:hover {
  background-color: white;
  border: 1px solid;
  color: black;
}
.buttonRow {
  width: 500px;
}
.imageCol {
  background-color: #001a0f;
}

.userIcon {
  font-size: 12px;
  margin-top: 5px;
}
.btn {
  font-size: 12px;
}
.cardName {
  font-size: 22px;
  font-weight: bold;
}
.vl {
  border-right: 3px solid rgb(255, 255, 255);
  height: auto;
  margin-left: -3px;
  top: 0;
}
.profDet {
  margin-bottom: 0px;
}
.skillsDisplay {
  display: inline;
  margin-left: 0 !important;
}

.skillsBullet {
  font-size: 10px;
}
.infoCard {
  background-color: rgb(156, 229, 255);
}

/* employee assign to the complaint */

.selectEmployee {
  background-color: rgb(206, 255, 238);
  width: 100%;
  height: 40px;
  border-radius: 0px 20px 20px 0px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(0, 49, 0);
  border-left-width: 5px;
}

.complaintHandlingCard {
  margin-top: 100px !important;
  padding-bottom: 20px;
  padding-right: 20px;
  box-shadow: 12px 12px 12px gray;
  border-color: black;
  border-width: 2px;
  border-radius: 20px;
}

.complaintHandlingImage {
  margin-top: 40px;
  margin-left: 10px;
}
.complaintDet {
  margin-bottom: 0px;
}
.complaintCol {
  margin-top: 25px;
  margin-bottom: 18px;
}
.handlingDet {
  text-align: center;
}

/* create a complaint */

.complaintCreateCard {
  margin-top: 100px !important;
  padding-bottom: 20px;
  padding-right: 20px;
  box-shadow: 12px 12px 12px gray;
  border-color: black;
  border-width: 2px;
  border-radius: 20px;
}
.complaintCreateImage {
  margin-top: 20px;
  margin-left: 10px;
}
.complaintCreateProductDet {
  margin-top: 10px;
}
.complaintCreateCol {
  margin-top: 35px;
}

/* ORDER SCREEN -> button add a complaint */
.OrderAddComplaint {
  text-align: center;
}

/* SCHEDULE COMPLETE SCREEN -> listgroup*/
.ordItemsSchedComplete {
  margin-top: 20px;
  margin-left: 10px;
}

/* PRODUCT EDIT OR CREATE SCREEN CARD */

.editOrCreateFormCard {
  margin-top: 70px;
  padding-bottom: 20px;
  padding-right: 20px;
  box-shadow: 12px 12px 12px gray;
  border-color: black;
  border-width: 2px;
  border-radius: 20px;
}

.editCreateProdForm {
  margin-left: 90px;
}
.halfinput {
  width: 350px;
  border-color: rgb(3, 64, 0);
  border-radius: 0px;
}
.updateOrCreateButton {
  width: 350px;
  margin-top: 27px;
}
.formFieldDet {
  font-weight: bold;
}

.formColTopic {
  font-size: 24px;
}
.cardTopic {
  font-size: 30px;
  margin-left: 50px;
  margin-top: 10px;
}

/* SCHEDULE ONGOING DETAILS BY ADMIN SCREEN */
.detailsTopic {
  font-size: 20px;
  margin-bottom: 5px;
}

/* USER EDIT BY ADMIN SCREEN */
.userEditCard {
  margin-top: 100px;
  padding-bottom: 30px;
  padding-top: 10px;
  padding-right: 20px;
  box-shadow: 12px 12px 12px gray;
  border-color: black;
  border-width: 2px;
  border-radius: 20px;
}
.userEditImage {
  height: 300px;
  padding-left: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.userEditInput {
  width: 350px;
  border-color: rgb(3, 64, 0);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
