.cartScreen {
  margin-top: 50px;
}

.totalQtyPrice {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.toCheckoutbtn {
  display: block;
  color: white !important;
  height: 50px !important;
  background-color: black !important;
}

.toCheckoutbtn:hover {
  height: 50px !important;
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
  border-color: black !important;
  font-size: 30px !important;
}
